.container-lg {
	max-width: 1040px;
	margin: 0 auto;
	position: relative;
}

.text-container {
	float: left;
}

$padding: 8px;

@for $i from 1 through 10 {

  @if ($i > 1) {
    $num: $i - 1;
    $padding: $padding + 8px;
  }

  .l-pad-top-#{$i} {
    padding-top: $padding;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}