button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}


.button {
	border: none;
	border-radius: 4px;
	box-shadow: 0 4px 6px rgba($black, .12);
	font-family: $font-primary;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: .5px;
	outline: none;
	padding: 0 16px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .3s;

	&.is-primary {
		background: $bluegrey-900;
		color: rgba($white, .95);

		&:hover {
			background: $bluegrey-800;
			box-shadow: 0 6px 12px rgba($black, .24), 0 1px 3px rgba($black, .24);
		}
	}
}

body {
	font-family: $font-primary;
}