$font-primary: 'Roboto', sans-serif;


$white: #ffffff;
$black: #000000;

$bluegrey-50: #ECEFF1;
$bluegrey-100: #CFD8DC;
$bluegrey-200: #B0BEC5;
$bluegrey-300: #90A4AE;
$bluegrey-400: #78909C;
$bluegrey-500: #607D8B;
$bluegrey-600: #546E7A;
$bluegrey-700: #455A64;
$bluegrey-800: #37474F;
$bluegrey-900: #263238;

$lightblue-50: #E1F5FE;
$lightblue-100: #B3E5FC;
$lightblue-200: #81D4FA;
$lightblue-300: #4FC3F7;
$lightblue-400: #29B6F6;
$lightblue-500: #03A9F4;
$lightblue-600: #039BE5;
$lightblue-700: #0288D1;
$lightblue-800: #0277BD;
$lightblue-900: #01579B;


$font-1x: 14px;
$font-2x: 16px;
$font-3x: 18px;
$font-4x: 24px;